#game-over-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 350px;
  background: rgb(245, 245, 245);
  z-index: 3;
  text-align: center;
  border: 5px solid rgb(226, 226, 226);
}

#play-again-btn {
  height: 50px;
  width: 130px;
  font-size: 22px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: rgb(65, 209, 65);
}

#play-again-btn:active {
  margin-top: 1px;
}
